.git
.gitattributes
.github

vendor
node_modules

.env
.env.*
!.env.example

storage/*.key
storage/framework/cache/*
!storage/framework/cache/.gitignore
storage/framework/sessions/*
!storage/framework/sessions/.gitignore
storage/framework/views/*
!storage/framework/views/.gitignore
storage/logs/*
!storage/logs/.gitignore
storage/app/public/*
!storage/app/public/.gitignore
storage/app/backups/*
!storage/app/backups/.gitignore
bootstrap/cache/*
!bootstrap/cache/.gitignore

tests
.phpunit.result.cache
phpunit.xml

*.md
README.md
docker-compose*.yml
.do

composer.phar
.editorconfig
.vscode
.idea
